<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVT-Arch-App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <h1 class="logo">An Experimental MVT-Architecture-Python Project</h1>
                <!-- <ul class="nav-links">
                    <li><a href="#features">Features</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul> -->
            </div>
        </nav>
        <div class="hero">
            <div class="container">
                <img src="{% static 'image/CRUD.png' %}" alt="CRUD App" width="500">
                <h1>Manage your data efficiently with CRUD App</h1>
                <p>A powerful tool to create, read, update, and delete data effortlessly.</p>
                <a href="#" class="btn">Get Started</a>
            </div>
        </div>
    </header>

    <section id="features">
        <div class="container">
            <h2>Key Features</h2>
            <div class="feature">
                <h3>Create</h3>
                <p>Easily create new records and store them securely.</p>
            </div>
            <div class="feature">
                <h3>Read</h3>
                <p>Retrieve and view your data quickly and efficiently.</p>
            </div>
            <div class="feature">
                <h3>Update</h3>
                <p>Edit and update existing records with ease.</p>
            </div>
            <div class="feature">
                <h3>Delete</h3>
                <p>Delete unwanted records securely and permanently.</p>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <h2>About CRUD App</h2>
            <p>CRUD App is a user-friendly application that simplifies data management. With its intuitive interface and
                powerful features, you can streamline your workflow and focus on what matters most.</p>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Have questions or need assistance? Reach out to our friendly support team.</p>
            <form>
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
                <textarea placeholder="Message"></textarea>
                <button type="submit" class="btn">Send</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 CRUD App. All rights reserved. Development by {{name}}</p>
        </div>
    </footer>
</body>

</html>